@import './constants/colors';
@import './constants/fonts';

.dashboard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 800px;
  // min-height: 500px;
  box-shadow: 2px 2px 2px rgba(200,200,200,0.8);
  padding: 1rem;
  background-color: $navBlack2;
  border-radius: 5px;
  color: $navTitle;
  font-family: $headerFont;
}

.validation {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  color: red;
}